<div class="main-content">
  <div class="text-center mb-4">
    <h2>Users</h2>
  </div>

  <div class="mb-3 row d-flex justify-content-between main-inner-content">
    <div [ngClass]="{'col-sm-8': currentUserRole === 'MAIN_ADMIN', 'col-sm-12': currentUserRole !== 'MAIN_ADMIN'}">
      <div>
        <div class="mb-3 d-flex justify-content-between">
          <label class="col-sm-4 col-form-label" for="searchUser">Enter full name: </label>
          <div class="col-sm-8">
            <input class="form-control" type="text" [(ngModel)]="searchQuery" name="searchUser" id="searchUser">
          </div>
        </div>
        <div class="mb-3 d-flex justify-content-between">
          <label class="col-sm-4 col-form-label" for="selectRole">Select user role: </label>
          <div class="col-sm-8">
            <select class="form-control" name="role" [(ngModel)]="selectedRole" id="selectRole">
              <option *ngFor="let role of roles" [value]="role.id">
                {{role.name}}</option>
            </select>
          </div>
        </div>
        <div class="mb-3 d-flex justify-content-between">
          <label class="col-sm-4 col-form-label" for="selectFaculty">Select faculty: </label>
          <div class="col-sm-8">
            <select class="form-control" id="selectFaculty" name="faculty" [(ngModel)]="selectedFaculty"
              [disabled]="selectedRole === 0 || isFacultyDisabled">
              <option *ngFor="let faculty of faculties" [value]="faculty.id">
                {{faculty.name}}</option>
            </select>
          </div>
        </div>
        <div class="mb-3 d-flex justify-content-between">
          <label class="col-sm-4 col-form-label" for="selectChair">Select chair: </label>
          <div class="col-sm-8">
            <select class="form-control" id="chairs" name="selectChair" [(ngModel)]="selectedChair"
              [disabled]="selectedFaculty === 0 || isChairDisabled">
              <option *ngFor="let chair of displayedChairs" [value]="chair.id">
                {{chair.name}}</option>
            </select>
          </div>
        </div>
        <div *ngIf="error.length > 0" class="row mb-4" style="color: red">
          <div class="col d-flex justify-content-center">
            <p>{{error}}</p>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-primary btn-block" (click)="clear()">Clear</button>
          <button type="button" class="btn btn-primary btn-block" (click)="search(1)">Search</button>
        </div>
      </div>
    </div>
    <ng-template [ngIf]="currentUserRole === 'MAIN_ADMIN'">
      <div class="col-sm-4 d-flex justify-content-end align-items-center">
        <button type="submit" class="btn btn-primary btn-block" routerLink="/user/users/add">Add Admin</button>
      </div>
    </ng-template>
  </div>


  <div *ngIf="displayedUsers.length === 0" class="text-center mb-4">
    <p>No records found</p>
  </div>

  <ng-template [ngIf]="displayedUsers.length !== 0">
    <div class="mb-3 row justify-content-center align-items-center main-inner-content pd-5 border-content"
      *ngFor="let user of displayedUsers">
      <label class="col-sm-4"> {{user.email}}</label>
      <label [ngClass]="{'col-sm-4' : user.isSignedUp, 'col-sm-8' : !user.isSignedUp}"> {{!user.isSignedUp ?
        'This user needs to complete sign up by following link in email' : user.fullName}}</label>
      <div class="col-sm-4 d-flex align-items-center flex-column">
        <button *ngIf="!user.isApproved && user.isSignedUp" class="mb-3" style="margin-top: 10px; margin-bottom: 10px"
          type="button" class="btn btn-primary btn-block" (click)="approve(user.id)">Approve</button>
        <button *ngIf="!user.isApproved && user.isSignedUp" class="mb-3" style="margin-top: 10px; margin-bottom: 10px"
          type="button" class="btn btn-primary btn-block" (click)="reject(user.id)">Reject</button>
        <button *ngIf="user.isActive && (hasPermissionForAction('EDIT_USERS') || currentUserRole === 'MAIN_ADMIN')"
          class="mb-3" style="margin-top: 10px; margin-bottom: 10px" type="button" class="btn btn-primary btn-block"
          (click)="goToEditPage(user.id)">Edit</button>
        <button *ngIf="!user.isActive && user.isApproved && (hasPermissionForAction('DEACTIVATE_USERS')
          || currentUserRole === 'MAIN_ADMIN')" class="mb-3" style="margin-top: 10px; margin-bottom: 10px"
          type="button" class="btn btn-primary btn-block" (click)="activate(user.id)">Activate</button>
        <button *ngIf="user.isActive && user.isApproved && (hasPermissionForAction('DEACTIVATE_USERS')
          || currentUserRole === 'MAIN_ADMIN')" class="mb-3" style="margin-top: 10px; margin-bottom: 10px"
          type="button" class="btn btn-primary btn-block" (click)="deactivate(user.id)">Deactivate</button>
      </div>
    </div>
  </ng-template>

  <app-pagination [currentPage]="currentPage" [totalPages]="totalPages"
    (pageChange)="pageChange($event)"></app-pagination>
</div>
