<div class="main-content">
  <div class="text-center mb-4">
    <h2>Поля</h2>
  </div>

  <div class="mb-3 row d-flex justify-content-between">
    <div class="col-sm-8 d-flex justify-content-start">
      <input type="text" [(ngModel)]="searchQuery" name="search" id="searchField" style="width: 100%"
        class="form-control">
      <button type="submit" class="btn btn-primary btn-block" style="margin-left: 25px"
        (click)="search(1)">Знайти</button>
    </div>
    <div class="col-sm-4 d-flex justify-content-end">
      <button type="submit" class="btn btn-primary btn-block" routerLink="/user/fields/add">Створити поле</button>
    </div>
  </div>

  <div *ngIf="displayedFields.length === 0" class="text-center mb-4">
    <p>Записів не знайдено!</p>
  </div>

  <ng-template [ngIf]="displayedFields.length > 0">
    <div class="mb-3 row justify-content-center align-items-center pd-5 border-content"
      *ngFor="let field of displayedFields">
      <span class="col-sm-6 text-center"> {{field.name}}</span>
      <div class="col-sm-6 d-flex align-items-center flex-column">
        <button style="margin-top: 10px; margin-bottom: 10px" type="submit"
          class="btn btn-primary btn-block">Відредагувати</button>
        <button style="margin-top: 10px; margin-bottom: 10px" type="submit" *ngIf="field.canBeDeleted"
          class="btn btn-primary btn-block" (click)="goToDeletePage(field.id)">Видалити</button>
      </div>
    </div>
  </ng-template>

  <app-pagination [currentPage]="currentPage" [totalPages]="totalPages"
    (pageChange)="pageChange($event)"></app-pagination>
</div>
