<!-- Page Content -->
<form (ngSubmit)="setNewPassword()" class="main-content">
  <div class="text-center mb-4">
    <h2>Restore Your Password</h2>
  </div>

  <!-- Password input -->
  <div class="mb-3 row justify-content-center main-inner-content">
    <label class="col-sm-4 col-form-label" for="password">Password: </label>
    <div class="col-sm-8">
      <input [(ngModel)]="password" name="password" type="password" id="password" class="form-control" />
    </div>
    <small class="text-muted" style="font-size: 13px">Password should be at least 8 characters long</small>
  </div>

  <div class="mb-3 row justify-content-center main-inner-content">
    <label class="col-sm-4 col-form-label" for="confirmPassword">Confirm Password: </label>
    <div class="col-sm-8">
      <input [(ngModel)]="confirmPassword" name="confirmPassword" type="password" id="confirmPassword"
        class="form-control" />
    </div>
  </div>

  <div *ngIf="error.length > 0" class="row mb-4" style="color: red">
    <div class="col d-flex justify-content-center">
      <p>{{error}}</p>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col d-flex justify-content-center">
      <button type="submit" class="btn btn-primary btn-block text-center">Submit</button>
    </div>
  </div>
</form>
