<form (ngSubmit)="deleteLabel()" class="main-content">
  <div class="text-center mb-4">
    <h2>Видалення ключового слова</h2>
    <h5>Щоб видалити ключове слово треба лбрати для нього заміну!</h5>
  </div>

  <div class="mb-3 row justify-content-center">
    <label class="col-sm-4 col-form-label" for="searchLabel">Знайдіть ключове слово на заміну: </label>
    <div class="col-sm-8">
      <input type="text" [value]="_searchQuery" (input)="setLabelSearchQuery($event)" name="searchQuery"
        id="searchLabel" class="form-control">
    </div>
  </div>

  <div class="mb-3 row justify-content-center">
    <label class="col-sm-4 col-form-label" for="replacementLabels">Виберіть ключове слово на заміну: </label>
    <div class="col-sm-8">
      <select id="replacementLabels" name="replacementLabels" [(ngModel)]="selectedLabel" class="form-control">
        <option *ngFor="let label of possibleLabels" [value]="label.id">
          {{label.name}}</option>
      </select>
    </div>
  </div>

  <div *ngIf="error.length > 0" class="row mb-4" style="color: red">
    <div class="col d-flex justify-content-center">
      <p>{{error}}</p>
    </div>
  </div>

  <div class="mb-4 d-flex justify-content-between">
    <button type="button" class="btn btn-primary btn-block text-center" routerLink="/user/labels">Назад</button>
    <button type="submit" class="btn btn-primary btn-block text-center">Видалити</button>
  </div>
</form>
