<div style="margin-top: 4%; overflow-x:hidden">
  <div class="text-center" style="margin-bottom: 2%">
    <h2>Common Labels</h2>
  </div>

  <div class="row d-flex justify-content-between" style="width: 75%; margin-right:auto; margin-left: auto;">
    <div class="mb-3 d-flex justify-content-center">
      <label class="col-sm-4 col-form-label" for="searchLabel">Search Label: </label>
      <input class="col-sm-8" type="text" [(ngModel)]="labelSearchQuery" name="searchLabel" id="searchLabel">
    </div>
    <div class="mb-3 d-flex justify-content-center">
      <label class="col-sm-4 col-form-label" for="selectLabel">Select Label: </label>
      <select class="col-sm-8" id="chairs" name="selectLabel" [(ngModel)]="selectedLabel">
        <option *ngFor="let label of displayedLabels" [value]="label.id">
          {{label.name}}</option>
      </select>
    </div>
    <div *ngIf="error.length > 0" class="row mb-3" style="color: red">
      <div class="col d-flex justify-content-center">
        <p>{{error}}</p>
      </div>
    </div>
    <div class="mb-3 row">
      <div class="col d-flex justify-content-center">
        <button type="button" class="btn btn-primary btn-block text-center" (click)="getProfiles()">
          Get Profiles</button>
      </div>
    </div>
  </div>

  <ng-template [ngIf]="profiles.length !== 0">
    <table class="mb-3" style="width: 75%; margin-right:auto; margin-left: auto;
    border: 2px solid lightblue; padding: 5px; border-collapse: collapse">
      <thead style="font-weight: bold">
        <tr>
          <td>Scientist</td>
          <td>Faculty</td>
          <td>Chair</td>
          <td>Scientometric System</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let profile of profiles">
          <td style="width: 35%">{{profile.name}}</td>
          <td style="width: 15%">{{profile.faculty}}</td>
          <td style="width: 15%">{{profile.chair}}</td>
          <td style="width: 35%">{{profile.scientometricSystemName}}</td>
        </tr>
      </tbody>
    </table>
  </ng-template>
</div>
