<form (ngSubmit)="addAdmin()" class="main-content">
  <div class="text-center mb-4">
    <h2>Add Admin</h2>
  </div>

  <div class="mb-3 row justify-content-center main-inner-content">
    <label class="col-sm-4 col-form-label" for="username">Email address: </label>
    <div class="col-sm-8">
      <input [(ngModel)]="email" name="username" type="email" id="username" class="form-control" />
    </div>
  </div>

  <div class="text-center mb-4">
    <label class="col-sm-2 form-check-label" for="isMainAdminCreated"> Is Main Admin? </label>
    <input type="checkbox" class="form-check-input" [(ngModel)]="isMainAdminCreated" id="isMainAdminCreated"
      name="isMainAdminCreated">
  </div>

  <div *ngIf="errorEmail.length > 0" class="row mb-4" style="color: red">
    <div class="col d-flex justify-content-center">
      <p>{{errorEmail}}</p>
    </div>
  </div>

  <ng-template [ngIf]="!isMainAdminCreated">
    <div class="text-center mb-4">
      <h4>Select Faculty And Chair</h4>
    </div>

    <div class="mb-3 row d-flex justify-content-between main-inner-content border-content pd-10">
      <div class="mb-3 row d-flex justify-content-between">
        <div class="col-sm-12 d-flex justify-content-between">
          <label class="col-sm-2 col-form-label" for="selectFaculty">Select faculty: </label>
          <div class="col-sm-4">
            <select class="form-control" id="selectFaculty" [(ngModel)]="selectedFaculty" name="selectFaculty">
              <option *ngFor="let faculty of faculties" [value]="faculty.id">
                {{faculty.name}}</option>
            </select>
          </div>
          <label class="col-sm-2 col-form-label" style="margin-left: 15px" for="selectChair">Select chair: </label>
          <div class="col-sm-4">
            <select class="form-control" id="chairs" name="selectChair" [disabled]="wholeFaculty"
              [(ngModel)]="selectedChair">
              <option *ngFor="let chair of chairs | chairs_by_faculty : selectedFaculty" [value]="chair.id">
                {{chair.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="mb-3 d-flex justify-content-start">
        <label class="col-sm-2 form-check-label" for="wholeFaculty"> Whole Faculty? </label>
        <input type="checkbox" class="form-check-input" [checked]="wholeFaculty" (click)="updateWholeFaculty()"
          name="wholeFaculty" id="wholeFaculty">
      </div>
    </div>

    <div *ngIf="errorFaculty.length > 0" class="row mb-4" style="color: red">
      <div class="col d-flex justify-content-center">
        <p>{{errorFaculty}}</p>
      </div>
    </div>

    <div class="text-center mb-4">
      <h4>Permissions</h4>
    </div>

    <div class="mb-3 row d-flex justify-content-center main-inner-content border-content pd-10">
      <div class="col-sm-4 d-flex justify-content-start flex-column">
        <div class="mb-3 d-flex justify-content-start" *ngFor="let permission of userPermissions; index as i">
          <label class="col-sm-10 form-check-label" [attr.for]="permission.name + i"> {{permission.name}}</label>
          <input type="checkbox" class="form-check-input" [checked]="selectedUserPermissions[i]"
            [attr.name]="permission.name + i" (click)="updateSelectedPermission(i)" [attr.id]="permission.name + i">
        </div>
      </div>
    </div>
  </ng-template>

  <div class="mb-4 d-flex justify-content-between main-inner-content">
    <button type="button" class="btn btn-primary btn-block text-center" routerLink="/user/users">Back</button>
    <button type="submit" class="btn btn-primary btn-block text-center"> Add</button>
  </div>
</form>
