<!-- Page Content -->
<div class="main-content">
  <div class="text-center mb-4">
    <h2>Статус витягнення даних</h2>
  </div>

  <div class="mb-3 row justify-content-center align-items-center pd-10 border-content"
    *ngFor="let scientometricSystem of scientometricSystems; index as i">
    <div class="mb-3 row">
      <span class="col-sm-4 text-center"> {{scientometricSystemsLabels[i]}} </span>
      <div class="col-sm-8 text-center">
        <span *ngIf="isRunning[i]">Витягнення вже відбувається</span>
        <span *ngIf="!isRunning[i] && !isPossible[i]">Витягнення даних з цього джерела
          зможе бути запущене після {{scientometricSystem.nextMinImportDate | date : 'dd.MM.yyyy'}}</span>
        <button *ngIf="!isRunning[i] && isPossible[i]" type="button" class="btn btn-primary btn-block"
          (click)="launchExtraction(i,scientometricSystem.name)">Запустити витягнення</button>
      </div>
    </div>
    <div class="mb-3 row">

      <div class="accordion" [attr.id]="'accordion' + i">
        <div class="accordion-item">
          <h2 class="accordion-header" [attr.id]="'errorsHeader' + i">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              [attr.data-bs-target]="'#errors' + i" aria-expanded="true" [attr.aria-controls]="'#errors' + i">
              Статус останнього витягнення даних
            </button>
          </h2>
          <div [attr.id]="'errors' + i" class="accordion-collapse collapse" [attr.aria-labelledby]="'errorsHeader' + i"
            [attr.data-bs-parent]="'accordion' + i" data-bs-toggle="collapse">
            <div class="accordion-body">
              <span *ngIf="scientometricSystemErrors[i].status === 'NO_EXTRACTIONS'">
                Жодних витягнень з цього джерела не відбувалось
              </span>
              <span *ngIf="scientometricSystemErrors[i].status === 'NO_ERRORS'">
                Витягнення проходить добре. Жодних помилок немає
              </span>
              <span *ngIf="scientometricSystemErrors[i].status === 'ERRORS_OCCURRED'">
                Профілі для наступних науковців не могли бути витягненими:
                {{scientometricSystemErrors[i].scientistsNames | join}}.
                <br>
                Найімовірніше, ідентифікаторів профілів цих науковців не було знайдено
              </span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
