<div class="main-content">
  <div class="text-center mb-4">
    <h2>Labels</h2>
  </div>

  <div class="mb-3 row d-flex justify-content-between main-inner-content">
    <div class="col-sm-8 d-flex justify-content-start">
      <input type="text" [(ngModel)]="searchQuery" name="searchLabel" id="searchLabel" style="width: 100%">
      <button type="submit" class="btn btn-primary btn-block" style="margin-left: 25px"
        (click)="search(1)">Search</button>
    </div>
    <div class="col-sm-4 d-flex justify-content-end">
      <button type="submit" class="btn btn-primary btn-block" routerLink="/user/labels/add">Add Label</button>
    </div>
  </div>

  <div *ngIf="isEmpty" class="text-center mb-4">
    <p>No records found</p>
  </div>

  <ng-template [ngIf]="!isEmpty">
    <div class="mb-3 row justify-content-center main-inner-content pd-5 border-content"
      *ngFor="let label of displayedLabels">
      <label class="col-sm-4"> {{label.name}}</label>
      <div class="col-sm-8 d-flex justify-content-around align-items-center">
        <button type="submit" class="btn btn-primary btn-block" (click)="goToEditPage(label.id)">Edit</button>
        <button type="submit" class="btn btn-primary btn-block" (click)="goToDeletePage(label.id)">Delete</button>
      </div>
    </div>
  </ng-template>

  <app-pagination [currentPage]="currentPage" [totalPages]="totalPages"
    (pageChange)="pageChange($event)"></app-pagination>
</div>
