<form (ngSubmit)="editProfile()" style="margin-top: 4%; overflow-x:hidden">
  <div class="text-center" style="margin-bottom: 2%">
    <h2>Edit Profile</h2>
  </div>

  <div class="text-center" style="margin-bottom: 2%">
    <h4>Edit Fields</h4>
  </div>

  <div class="mb-3 row d-flex justify-content-center"
    style="width: 65%; margin-right:auto; margin-left: auto; border: 2px solid lightblue; padding: 10px">
    <div class="mb-3 row d-flex justify-content-center" *ngFor="let profileField of profileFields; index as i">
      <div class="col-sm-4 d-flex flex-column">
        <label class="col-form-label" [attr.for]="'fieldName' + i">{{profileField.field.name}}</label>
        <small class="row" *ngIf="profileField.field.fieldType.name === 'CITATION' ||
        profileField.field.fieldType.name === 'H_INDEX'" class="text-muted"
          style="font-size: 13px">{{profileField.field.fieldType.name === 'CITATION' ?
          'This value is counted as citations on graphs' : 'This value is counted as H_Index on graphs'}}</small>
      </div>
      <div class="col-sm-6">
        <input name="fieldName" [attr.type]="profileField.field.fieldType.name == 'BOOLEAN' ? 'checkbox' :
            profileField.field.fieldType.name == 'DATE' ? 'date' : 'text'" [attr.id]="'fieldName' + i"
          [ngClass]="{'form-control' : profileField.field.fieldType.name != 'BOOLEAN'}" [value]="profileField.value" />
      </div>
      <div class="col-sm-2 text-center">
        <button class="btn btn-primary btn-block" (click)="removeFieldFromProfile(i)"> Remove </button>
      </div>
    </div>
    <div class="row d-flex justify-content-between" style="border: 2px solid lightblue; padding: 10px;">
      <div class="col-sm-8">
        <div>
          <div class="mb-3 d-flex justify-content-between">
            <label class="col-sm-4 col-form-label" for="searchField">Search Field: </label>
            <input class="col-sm-8" type="text" [(ngModel)]="fieldSearchQuery" name="searchField" id="searchField">
          </div>
          <div class="d-flex justify-content-center">
            <label class="col-sm-4 col-form-label" for="selectField">Select Field: </label>
            <select class="col-sm-8" id="chairs" name="selectField" [(ngModel)]="selectedField">
              <option *ngFor="let field of allFields | field_search : fieldSearchQuery" [value]="field.id">
                {{field.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-4 d-flex flex-column justify-content-center align-items-center">
        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block"
          (click)="addFieldToProfile()">Add Field</button>
        <span *ngIf="selectedFieldError.length > 0" style="color: red"> {{selectedFieldError}} </span>
      </div>
    </div>
  </div>

  <div class="text-center" style="margin-top: 2%; margin-bottom: 2%">
    <h4>Labels</h4>
  </div>

  <div class="mb-3 row d-flex justify-content-center"
    style="width: 65%; margin-right:auto; margin-left: auto; border: 2px solid lightblue; padding: 10px">
    <div class="mb-3 row d-flex justify-content-center">
      <div class="col-sm-4 d-flex justify-content-center align-items-center"
        *ngFor="let label of profileLabels; index as i" style="border: 2px solid lightblue; margin: 5px; padding: 10px">
        <label class="col-sm-8 col-form-label" [attr.for]="label.name + i"> {{label.name}}</label>
        <button class="col-sm-4" type="button" class="btn btn-primary btn-block text-center"
          (click)="removeLabel(label.id)">Remove</button>
      </div>
    </div>
    <div class="row d-flex justify-content-between" style="border: 2px solid lightblue; padding: 10px;">
      <div class="col-sm-8">
        <div>
          <div class="mb-3 d-flex justify-content-center">
            <label class="col-sm-4 col-form-label" for="searchLabel">Search Label: </label>
            <input class="col-sm-8" type="text" [(ngModel)]="labelSearchQuery" name="searchLabel" id="searchLabel">
          </div>
          <div class="d-flex justify-content-center">
            <label class="col-sm-4 col-form-label" for="selectLabel">Select Label: </label>
            <select class="col-sm-8" id="chairs" name="selectLabel" [(ngModel)]="selectedLabel">
              <option *ngFor="let label of possibleLabels | label_search : labelSearchQuery" [value]="label.id">
                {{label.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-4 d-flex flex-column justify-content-center align-items-center">
        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block"
          (click)="addLabel()">Add
          Label</button>
        <span *ngIf="selectedLabelError.length > 0" style="color: red"> {{selectedLabelError}} </span>
      </div>
    </div>
  </div>

  <div class="row mb-4" style="width: 65%; margin-right:auto; margin-left: auto">
    <div class="col d-flex justify-content-between">
      <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block text-center"
        routerLink="/user/profiles">Back</button>
      <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block text-center">
        Edit</button>
    </div>
  </div>
</form>
