<form (ngSubmit)="editProfile()" class="main-content">
  <div class="text-center mb-4">
    <h2>Edit Profile</h2>
  </div>

  <div class="text-center mb-4">
    <h4>Edit Fields</h4>
  </div>

  <div class="mb-3 row d-flex justify-content-center main-inner-content border-content pd-10">
    <div class="mb-3 row d-flex justify-content-center" *ngFor="let profileField of updatedProfileFields; index as i">
      <div class="col-sm-4 d-flex flex-column justify-content-center">
        <label [ngClass]="{'form-check-label' : profileField.field.fieldType.name == 'BOOLEAN',
        'col-form-label' : profileField.field.fieldType.name != 'BOOLEAN'}"
          [attr.for]="'fieldValue' + i">{{profileField.field.name}}</label>
        <small class="row" *ngIf="profileField.field.fieldType.name === 'CITATION' ||
        profileField.field.fieldType.name === 'H_INDEX'" class="text-muted"
          style="font-size: 13px">{{profileField.field.fieldType.name === 'CITATION' ?
          'This value is counted as citations on graphs' : 'This value is counted as H Index on graphs'}}</small>
      </div>
      <div class="col-sm-6 d-flex flex-column justify-content-center">
        <input name="fieldValue" class="fieldValue" [attr.type]="profileField.field.fieldType.name == 'BOOLEAN' ? 'checkbox' :
            profileField.field.fieldType.name == 'DATE' ? 'date' : 'text'" [attr.id]="'fieldValue' + i" [ngClass]="{'form-control' : profileField.field.fieldType.name != 'BOOLEAN',
                      'form-check-input' : profileField.field.fieldType.name == 'BOOLEAN'}"
          [value]="profileField.field.fieldType.name === 'BOOLEAN' ? '' : profileField.value"
          [checked]="profileField.field.fieldType.name === 'BOOLEAN' ? profileField.value != 'false' : ''"
          (input)="changeProfileFieldValue(i, $event.target)" />
      </div>
      <div class="col-sm-2 text-center">
        <button type="button" class="btn btn-primary btn-block" (click)="removeFieldFromProfile(i)"> Remove </button>
      </div>
      <div *ngIf="profileFieldsError[i] && profileFieldsError[i].length > 0" class="row d-flex justify-content-center"
        style="color:red;">
        {{profileFieldsError[i]}}</div>
    </div>
    <div class="row d-flex justify-content-between pd-10 border-content">
      <div class="col-sm-8">
        <div>
          <div class="mb-3 d-flex justify-content-between">
            <label class="col-sm-4 col-form-label" for="searchField">Search Field: </label>
            <div class="col-sm-8">
              <input class="form-control" type="text" [value]="_fieldSearchQuery" (input)="setFieldSearchQuery($event)"
                name="searchField" id="searchField">
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <label class="col-sm-4 col-form-label" for="selectField">Select Field: </label>
            <div class="col-sm-8">
              <select class="form-control" id="chairs" name="selectField" [(ngModel)]="selectedField">
                <option *ngFor="let field of possibleFields" [value]="field.id">
                  {{field.name}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 d-flex flex-column justify-content-center align-items-center">
        <button type="button" class="btn btn-primary btn-block" (click)="addFieldToProfile()">Add Field</button>
        <span *ngIf="selectedFieldError.length > 0" style="color: red"> {{selectedFieldError}} </span>
      </div>
    </div>
  </div>

  <div class="text-center mb-4 mt-4">
    <h4>Edit Labels</h4>
  </div>

  <div class="mb-3 row d-flex justify-content-center main-inner-content border-content pd-10">
    <div class="mb-3 row d-flex justify-content-center">
      <div class="col-sm-4 d-flex justify-content-center align-items-center"
        *ngFor="let label of profileLabels; index as i" style="border: 2px solid lightblue; margin: 5px; padding: 10px">
        <label class="col-sm-8 col-form-label" [attr.for]="label.name + i"> {{label.name}}</label>
        <button class="col-sm-4" type="button" class="btn btn-primary btn-block text-center"
          (click)="removeLabel(label.id)">Remove</button>
      </div>
    </div>
    <div class="row d-flex justify-content-between" style="border: 2px solid lightblue; padding: 10px;">
      <div class="col-sm-8">
        <div>
          <div class="mb-3 d-flex justify-content-center">
            <label class="col-sm-4 col-form-label" for="searchLabel">Search Label: </label>
            <div class="col-sm-8">
              <input class="form-control" type="text" [value]="_labelSearchQuery" (input)="setLabelSearchQuery($event)"
                name="searchLabel" id="searchLabel">
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <label class="col-sm-4 col-form-label" for="selectLabel">Select Label: </label>
            <div class="col-sm-8">
              <select class="form-control" id="chairs" name="selectLabel" [(ngModel)]="selectedLabel">
                <option *ngFor="let label of possibleLabels" [value]="label.id">
                  {{label.name}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 d-flex flex-column justify-content-center align-items-center">
        <button type="button" class="btn btn-primary btn-block" (click)="addLabel()">Add
          Label</button>
        <span *ngIf="selectedLabelError.length > 0" style="color: red"> {{selectedLabelError}} </span>
      </div>
    </div>
  </div>

  <div class="mb-4 d-flex justify-content-between main-inner-content">
    <button type="button" class="btn btn-primary btn-block text-center" routerLink="/user/profiles">Back</button>
    <button type="submit" class="btn btn-primary btn-block text-center"> Edit</button>
  </div>
</form>
