<form (ngSubmit)="deleteField()" class="main-content">
  <div class="text-center mb-4">
    <h2>Видалення поля</h2>
    <h5>Щоб видалити поле, треба вибрати для нього заміну!</h5>
  </div>

  <div class="mb-3 row justify-content-center">
    <label class="col-sm-4 col-form-label" for="searchField">Знайдіть поле на заміну: </label>
    <div class="col-sm-8">
      <input type="text" [value]="_searchQuery" (input)="setFieldSearchQuery($event)" name="searchQuery"
        id="searchField" class="form-control">
    </div>
  </div>

  <div class="mb-3 row justify-content-center">
    <label class="col-sm-4 col-form-label" for="replacementFields">Виберіть поле на заміну: </label>
    <div class="col-sm-8">
      <select id="replacementFields" name="replacementFields" [(ngModel)]="selectedField" class="form-control">
        <option *ngFor="let field of possibleFields" [value]="field.id">
          {{field.name}}</option>
      </select>
    </div>
  </div>

  <div *ngIf="error.length > 0" class="row mb-4" style="color: red">
    <div class="col d-flex justify-content-center">
      <p>{{error}}</p>
    </div>
  </div>

  <div class="mb-4 d-flex justify-content-between">
    <button type="button" class="btn btn-primary btn-block text-center" routerLink="/user/fields">Назад</button>
    <button type="submit" class="btn btn-primary btn-block text-center">Видалити</button>
  </div>
</form>
