<div class="main-content">
  <div class="text-center mb-4">
    <h4>Edit Your Profile</h4>
  </div>

  <div class="mb-3 row justify-content-center">
    <label class="col-sm-4 col-form-label" for="fullname">Full name: </label>
    <div class="col-sm-8">
      <input [(ngModel)]="fullName" name="fullname" type="text" id="fullname" class="form-control" />
    </div>
  </div>

  <div *ngIf="errorFullname.length > 0" class="row mb-4" style="color: red">
    <div class="col d-flex justify-content-center">
      <p>{{errorFullname}}</p>
    </div>
  </div>

  <div class="mb-4 d-flex justify-content-between">
    <button type="button" class="btn btn-primary btn-block text-center" routerLink="/user/users">Back</button>
    <button type="button" class="btn btn-primary btn-block text-center" (click)="editFullname()">Save</button>
  </div>

  <ng-template [ngIf]="currentUserRole === 'MAIN_ADMIN'">
    <div class="text-center" style="margin-bottom: 2%">
      <h4>Default Permissions</h4>
    </div>

    <div class="mb-3 row d-flex justify-content-between pd-5 border-content">
      <div class="col-sm-4 d-flex justify-content-start flex-column" *ngFor="let role of allRoles; index as i">
        <label class="text-center col-form-label" for="selectFaculty">{{role.name}} </label>
        <div class="mb-3 d-flex justify-content-start" *ngFor="let permission of possiblePermissions[i]; index as j">
          <label class="col-sm-10 form-check-label" [attr.for]="permission.name + i + j"> {{permission.name}}</label>
          <input type="checkbox" class="form-check-input" [(ngModel)]="defaultPermissions[i][j]"
            [attr.name]="permission.name + i + j" [attr.id]="permission.name + i + j">
        </div>
      </div>
    </div>

    <div class="mb-4 d-flex justify-content-between">
      <button type="button" class="btn btn-primary btn-block text-center" routerLink="/user/users">Back</button>
      <button type="button" class="btn btn-primary btn-block text-center" (click)="updateDefaultPermissions()">
        Save</button>
    </div>
  </ng-template>
</div>
