<div class="main-content">
  <div class="text-center mb-4">
    <h2>Профілі</h2>
  </div>

  <div class="row d-flex justify-content-between">
    <div class="mb-3 d-flex justify-content-center">
      <label class="col-sm-4 col-form-label" for="selectScientometricSystem">Виберіть наукометричну БД: </label>
      <div class="col-sm-8">
        <select class="form-control" id="selectScientometricSystem" name="scientometricSystem"
          [(ngModel)]="selectedScientometricSystem">
          <option *ngFor="let scientometricSystem of scientometricSystems" [value]="scientometricSystem.id">
            {{scientometricSystem.name}}</option>
        </select>
      </div>
    </div>
    <div class="mb-3 d-flex justify-content-center">
      <label class="col-sm-4 col-form-label" for="selectFaculty">Виберіть факультет: </label>
      <div class="col-sm-8">
        <select class="form-control" id="selectFaculty" name="faculty" [(ngModel)]="selectedFaculty">
          <option *ngFor="let faculty of faculties" [value]="faculty.id">
            {{faculty.name}}</option>
        </select>
      </div>
    </div>
    <div class="mb-3 d-flex justify-content-center">
      <label class="col-sm-4 col-form-label" for="selectChair">Виберіть кафедру: </label>
      <div class="col-sm-8">
        <select class="form-control" id="selectChair" name="selectChair" [(ngModel)]="selectedChair"
          [disabled]="selectedFaculty === 0">
          <option *ngFor="let chair of displayedChairs" [value]="chair.id">
            {{chair.name}}</option>
        </select>
      </div>
    </div>
    <div class="mb-3">
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-primary btn-block text-center" (click)="getProfiles()">Отримати
          профілі</button>
      </div>
    </div>
  </div>

  <div *ngIf="profiles.length === 0 && getProfilesClicked" class="text-center mb-4">
    <p>Записів не знайдено</p>
  </div>

  <ng-template [ngIf]="profiles.length !== 0">
    <table class="mb-3 pd-5 border-content" style="width: 100%; border-collapse: collapse">
      <thead style="font-weight: bold">
        <tr>
          <td>Науковець</td>
          <td>Цитування</td>
          <td>Індекс Гірша</td>
          <td>Рекомендації</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let profile of profiles">
          <td style="width: 30%">{{profile.name}}</td>
          <td style="width: 10%">{{profile.indices.citationIndex >= 0 ? profile.indices.citationIndex : 'Не витягнено'}}
          </td>
          <td style="width: 10%">{{profile.indices.hirshIndex >= 0 ? profile.indices.hirshIndex : 'Не витягнено'}}</td>
          <td style="width: 50%">
            <ul style="text-align:left" *ngIf="profile.recommendations.length > 0">
              <li style="list-style-type: disc;" *ngFor="let recommendation of profile.recommendations">
                {{recommendation}}
              </li>
            </ul>
            <label *ngIf="profile.recommendations.length == 0">
              Вітаємо! Ваш профіль повністю заповнено!
            </label>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-template>
</div>
